{% extends "layouts/base.html" %}

{% block title %} Environment {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load static %}

<div class="row">

    <div class="col-xl-2 col-md-2">
        <div class="card user-list">
            <div class="card-header">
                <h5>Plant</h5>
            </div>
            <div class="card-block">
                <div id="plant"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-md-10">
        <div class="card user-list">
            <div class="card-header">
                <h5>Environment status</h5>
            </div>
            <div class="card-block">
                <div class="col-xl-12 text-center">
                    <div class="plant-bg">
                        {% for room in rooms %}
                        <div style="
                                position: absolute;
                                left:{{ room.x }}px;
                                top:{{ room.y }}px;
                                width: 70px;
                                translate: -10px -20px;">

                            <span class="scale-up
                                {% if room.light_on %} light-on
                                {% else %} light-off
                                {% endif %}">
                                <i class="fa fa-lightbulb" aria-hidden="true"></i>
                            </span>

                            <span  class="scale-up
                            {% if room.is_temp_ok %} sensor-status-ok
                            {% else %} sensor-status-no
                            {% endif %}">
                                <i class="fa fa-thermometer-full" aria-hidden="true"></i> {{room.temperature}}°C
                            </span>

                            <span class="scale-up
                            {% if room.is_hum_ok %} sensor-status-ok
                            {% else %} sensor-status-no
                            {% endif %}">
                                <i class="fa fa-tint" aria-hidden="true"></i> {{room.humidity}}%
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="row">

</div>


{% endblock content %}


{% block javascripts %}
{% endblock javascripts %}
