{% extends "layouts/base.html" %}

{% block title %} Security {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
        <div class="col-xl-7 col-md-7 mb-2">
            <div class="card user-list" id="#accordion">
                <div class="card-header">
                    <h5>Warnings</h5>
                </div>
                <div class="card-block">
                    <div class="col-xl-12">
                        <div class="card-block px-0 py-3">
                            {% for room in rooms %}
                            {% if room.visitors > room.capacity %}
                            <div class="alert alert-danger">
                                Too many visitors in {{ room.name }}! There are {{ room.visitors }} visitors given a capacity of
                                {{ room.capacity }}.
                            </div>
                            {% elif room.visitors == room.capacity %}
                            <div class="alert alert-warning">
                                The number of visitors in {{ room.name }} is about to exceed its capacity.
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-xl-5 col-md-5 mb-2">
        <div class="card user-list">
            <div class="card-header">
                <h5>Last Video Frame</h5>
            </div>
            <div class="card-block">
                <div class="col-xl-12 p-2 text-center">
                    <img src="/static/last_surv_image.png" alt="last frame" style="height:200px" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-md-2">
        <div class="card user-list">
            <div class="card-header">
                <h5>Info</h5>
            </div>
            <div class="card-block">
                {% for room in rooms %}
                    <div class="room-info-panel p-5" id="room-{{ room.id }}-info" style="display: none;">
                        <h3>{{ room.name }}</h3>
                        <div>{{ room.mq }} mq</div>

                        <div>{{ room.visitors }} / {{ room.capacity }}</div>
                        {% load humanize %}
                        <div>{{ room.last_update | naturaltime }}</div>
                        <!--<div>{{ room.last_update|date:"D d M Y" }} {{ room.last_update|time:"H:i" }}</div>-->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-md-10">
        <div class="card user-list">
            <div class="card-header">
                <h5>People inside the museum</h5>
            </div>
            <div class="card-block">
                <div class="col-xl-12 text-center">
                    <div class="plant-bg">
                        {% for room in rooms %}
                        <span id="room-{{ room.id }}" class="dot 
                                {% if room.visitors > room.capacity %} bad-crowd
                                {% elif room.visitors < room.capacity %} good-crowd
                                {% else %} risky-crowd
                                {% endif %}"
                            style="
                                position: absolute;
                                left:{{ room.x }}px;
                                top:{{ room.y }}px;">
                                {{ room.visitors }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">

</div>


{% endblock content %}


{% block javascripts %}

    <script src="/static/assets/js/security.js"></script>

{% endblock javascripts %}
