.sentiment-score-bar {
    width: 5px;
}

.table-feedbacks {
    white-space: normal;
    word-wrap: normal;
}

.lang-icon {
    width: 25px;
}

.sentence { 
    border-bottom: 2px dotted; 
}

.neutral {
    border-color: #6cf3ff83;
}
.neutral:hover {
    background-color: #6cf3ff83;
}

.good {
    border-color: #00ff008e;
}
.good:hover {
    background-color: #00ff008e;
}

.bad { 
    border-color :#ff000071;
}
.bad:hover { 
    background-color :#ff000071;
}


.good-crowd {
    background-color: #00ff008e;
}

.bad-crowd {
    background-color: #ff000071;
}

.risky-crowd {
    background-color:  rgb(255, 180, 17);
}


.plant-bg {
    background-image: url("../../plant.png");
    background-repeat: no-repeat;
    height: 397px;
    background-position: 80px top;
}


.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3%;
}

.big-dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3%;
}

.scale-up {
    display: inline-block;
    padding: 0.3%;
    width:100%;
}
.scale-up:hover {
    transform: scale(1.4);
}

.dot:hover {
    transform: scale(1.4);
}

.light-on {
    color: orange;
}

.light-off {
    color: slategrey;
}

.sensor-status-ok {

}

.sensor-status-no {
    color: red;
}