@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("../plugins/bootstrap/css/bootstrap.min.css");
@import url("../fonts/feather/css/feather.css");
@import url("../plugins/jquery-scrollbar/css/jquery.scrollbar.min.css");
@import url("../fonts/datta/datta-icon.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

button,
input {
  border: none;
}

svg {
  display: block;
}

body {
  font: 16px/1.5 "Lato", sans-serif;
}


/* HEADER STYLES*/
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  width: 220px;
  color: whitesmoke;
  background-color: #064739;
}

.page-header nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header .logo {
  display: block;
  max-width: 120px;
  margin: 0 15px;
}


.page-header .toggle_mob_menu {
  display: none;
  margin-left: 5px;
  padding: 4px;
  background: whitesmoke;
  border-radius: 4px;
}

.page-header .toggle_mob_menu svg {
  fill: rgb(71, 233, 198);
  transition: transform 0.2s;
}

.page-header .menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 35px;
}

.page-header .menu li:nth-last-child(2) {
  margin-bottom: 35px;
}

.page-header .menu li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}

.page-header .menu li > * {
  width: 100%;
  padding: 12px 15px;
}

.page-header .menu .menu-heading h3 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  margin-top: 12px;
  color:rgb(66, 206, 171);
}

.page-header .menu svg {
  width: 20px;
  height: 20px;
  fill: #dde9f8;
  margin-right: 10px;
  transition: fill 0.2s;
}

#collapse {
  width: 12px;
  height: 12px;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.page-header .menu a,
.page-header .menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
}

.page-header .menu a:hover,
.page-header .menu a:focus,
.page-header .menu button:hover,
.page-header .menu button:focus {
  background: #021f1a;
  color: rgb(66, 206, 171);
  outline: none;
}

.page-header .menu a:hover svg,
.page-header .menu a:focus svg,
.page-header .menu button:hover svg,
.page-header .menu button:focus svg {
  fill: rgb(66, 206, 171);
}


/* PAGE CONTENT STYLES */
.page {
  position: relative;
  left: 220px;
  width: calc(100% - 220px);
  min-height: 100vh;
  padding: 30px;
  color: black;
  background: #f0f1f6;
}

.search-and-user {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 50px;
  align-items: center;
  background: f0f1f6;
  margin-bottom: 30px;
}

.search-and-user form {
  position: relative;
}

.search-and-user input[type="search"] {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 15px;
  background: f0f1f6;
  color:black;
  border-radius: 4px;
  box-shadow:  0 0 10px -2px rgba(0, 0, 0, 0.075);
}

.search-and-user ::placeholder {
  color: black;
}

.search-and-user form svg {
  width: 26px;
  height: 26px;
  fill: black;
}

.search-and-user form button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.search-and-user .admin-profile {
  display: flex;
  align-items: center;
}

.search-and-user .admin-profile .nome {
  margin: 0 10px 0 20px;
}

.search-and-user .admin-profile svg {
  width: 100px;
  height: 100px;
  margin-top: -10px;
}

.search-and-user .admin-profile .notifiche {
  position: relative;
  margin-top: 10px;
  z-index: 10;
}

.search-and-user .admin-profile .pall {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -3px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  font-size: 10px;
  color: whitesmoke;
  background: red;
  font-size: 12px;
}

.page .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.page .grid > article {
  display: flex;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

.page .grid > article:first-child,
.page .grid > article:last-child {
  grid-column: 1 / -1;
}

/* charts*/

#piechart {
  width: 100%; 
  height: 280px;
  margin-left: 13%;
  margin-top: 3%;
}

#chart_div {
  width: 100%;
}

.plant {
  background: url('../CSS/plant.PNG');
  background-size: 605px 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.circle {
  border-radius: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 22px;
  padding-bottom: 30px;
  max-width: 80px;
  max-height: 70px;
  color: rgb(15, 14, 14);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.circle:hover {
  transform: scale(1.1);
}

.circle .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  border: solid rgb(34, 30, 30);
}

.circle:hover .tooltip {
  visibility: visible;
}

#one {
  margin-top: 6%;
  margin-left: 3%;
  background-color: rgb(255, 251, 0);
}

#two {
  margin-top: 6%;
  margin-left: 32%;
  background-color: rgb(255, 230, 0);
}

#three {
  margin-top: 37%;
  margin-left: -59%;
  background-color: rgb(255, 166, 0);
}

#four {
  margin-top: 37%;
  margin-left: 65%;
  background-color: red;
}

#tipfour {
  margin-left: -100px;
}

.heatmap {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .collapsed .page-header {
    width: 40px;
  }

  .collapsed .page-header .menu li > * {
    padding: 10px;
  }

  .collapsed .page-header .logo,
  .collapsed .page-header .menu span,
  .collapsed .page-header .menu .menu-heading {
    display: none;
  }

  .collapsed .page-header .menu svg {
    margin-right: 0;
  }

  .collapsed .page-header .collapse-btn svg {
    transform: rotate(180deg);
  }

  .collapsed .page {
    left: 40px;
    width: calc(100% - 40px);
  }
}

