<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Art Beat - {% block title %}{% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="ArtBeat is a platform to help museums manage their backoffice operations." />

    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/special.css">

    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>
    
    {% include 'includes/navigation.html' %}

    <div class="page">

            {% block content %}{% endblock content %}

    </div>

    {% include 'includes/scripts.html' %}

    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
